.welcome-area{
    height: 500px;
    width: 100%;
    background-image : linear-gradient(rgb(100, 100, 100),rgb(30 27 27));
    backdrop-filter: blur(18px);
    opacity: 0.8;
    margin: 0;
    border: 0;
    border-radius: 18px;
    display: flex;
    position: relative;
    box-shadow: 3px rgba(0, 0, 0, 0.692);
}
.welcome-message-div{
    width: 100%;
    height: 480px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    min-width: 100%;
    min-height: 480px;
}
#message-01{
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.235);
    border : 0;
    border-radius: 18px;
    padding: 2%;
    background-color: rgb(142 136 136 / 21%);
    backdrop-filter: blur(18px);
}
#message-02{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    font-weight: bolder;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition: transform 1s ease-in-out;
    color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.235);
    border : 0;
    border-radius: 18px;
    padding: 2%;
    background-color: rgb(142 136 136 / 21%);
    backdrop-filter: blur(18px);
    flex: 1;
    transform: translateX(50%);
}
#image-div-of-firstdiv{
    position: relative;
    opacity: 0;
    transition: all 1s ease-in-out;
    border : 0;
    flex: 1;
    transform: translateX(50%);
}
.login-buttons{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 100%;
    text-align: center;
}
.login-button{
    font-size: x-large;
    padding: 2%;
    border: 0;
    border-radius: 12px;
    background-color: rgb(6 35 75 / 79%);
    margin: 0;
    width: 200%;
    color:white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.285);
    position: relative;
    transition: background-color 1s ease-in-out;
    transition: box-shadow 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.login-button:hover{
    background-color: #1b4827;
    box-shadow: none;
}
.register-button{
    font-size: large;
    padding: 2%;
    border:0;
    margin: 0;
    border-radius: 12px;
    background-color: #554a90;
    color:white;
    width: 200%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 2s ease-in-out;
    transition: color 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.register-button:hover{
    background-color: rgb(41 85 31);
    color:white
}
.counting-details-div{
    display: flex;
    width: 99%;
}
.card1,.card2,.card3{
    flex: 1;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 33%;
    height: 40px;
    padding: 2%;
    position: relative;
    transform: translateY(-80%);
    opacity: 0;
    transition: all 0.6s ease-in-out;
}
.card1-details,.card2-details,.card3-details{
    background-color: rgb(0 0 0);
    backdrop-filter:blur(15px);
    box-shadow:0px 2px 2px 2px #faf2f226;
    border: 0;
    color:#ffffffa1;
    transition:all 1s ease-in-out;
    border-radius: 18px;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    animation-name: cardoutanim;
    animation-duration: 2s;
    transition: all 1s ease-in-out;
}
.card1-details:hover,.card2-details:hover,.card3-details:hover{
    background-color: rgb(72, 76, 79);
    animation-name: cardanim;
    animation-duration: 2s;
    color: white;
    box-shadow: none;
}
.quotation-and-picture-content{
    display: flex;
    position: relative;
    width: 99%;
    height: 500px;
}
.quote-area{
    flex: 40%;
    padding: 2%;
    height: 500px;
}
.picture-area2{
    flex: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.quotation-section{
    text-align: center;
    border: 0;
    border-radius: 18px;
    justify-content: center;
    align-content: center;
    min-width:100%;
    min-height: 230px;
    top: 100px;
    padding: 2%;
    position: relative;
    box-shadow:0px 3px 3px 3px #00000045;
    backdrop-filter: blur(25px);
    background-image: linear-gradient(#443e3e6b,rgb(129 130 135 / 74%));
    color:white;
    transition: all 1s ease-in-out;
}
.quotation-section:hover{
    background-color: black;
    box-shadow: none;
}
.quote{
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
#auther1,#auther2,#auther3{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.teachers-ads{
    background-color: #7b858c;
    display: block;
    padding: 2%;
    position: relative;
    width: auto;
    border: 0;
    margin: 0;
}
.row-of-teacher-ad-1,.row-of-teacher-ad-2{
    width: 100%;
    display: flex;
    position: relative;
    margin: 0;
    border: 0; 
    overflow:scroll 500px;
}
.teacher1,.teacher2,.teacher3,.teacher4{
    flex: 1;
    height: 300px;
    background-color: #000000;
    color:white;
    box-shadow: 0px 1px 1px 1px black;
    backdrop-filter: blur(18px);
    border: 0;
    margin: 10px;
    border-radius: 18px;
    padding: 2%;
    transition: all 1s ease-in-out;
}
.teacher1:hover,.teacher2:hover,.teacher3:hover,.teacher4:hover{
    background-color: #282e41;
    box-shadow: none;
}
.teacher1img,.teacher2img,.teacher3img,.teacher4img{
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
}
.teacher1-details,.teacher2-details,.teacher3-details,.teacher4-details{
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    text-align: center;
}
.teacher1-name,.teacher2-name,.teacher3-name,.teacher4-name{
    font-size: x-large;
    width: 100%;
    position: relative;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.teacher1-specs,.teacher2-specs,.teacher3-specs,.teacher4-specs{
    font-size: large;
    width: 100%;
    position: relative;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-us-content-ofhome{
    width: 100%;
    margin: 0;
    border: 0;
    background-image: url("PXL_20230712_071039404~2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    height: 900px;
    overflow: hidden;
}
.about-us-image{
    width: 100%;
    height: 900px;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    background-color: rgba(233, 224, 224, 0);
    min-width: 100%;
    min-height: 900px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    margin: 0;
    border: 0;
}
.about-us-content-ofhome:hover .about-us-image{
    backdrop-filter: blur(18px);
}
.abt2-content{
    padding-top: 360px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.abtus-topic{
    color: white;
    position: relative;
    font-size:500%;
}
.abt1-us-btn{
    position: relative;
    border: 0;
    margin: 0;
    border-radius: 18px;
    padding: 2%;
    background-color: white;
    font-size: 180%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s ease-in-out;
}
.abt1-us-btn:hover{
    background-color: #4a98d6;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.285);
    border-radius: 8px;
}