.main
{
width: 60%;
}
.section1
{
    position: relative;
    display: flex;
}
.section1-1
{
    flex: 1;
}
.primarygrades,.gradesixtonine,.ordinarylevel,.advancedlevel,.biomathsstream,.commercestream,.artstream{
     display: block;
} 
